.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

#root {
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column; 
}


.WorldMap {
  flex: 1;  
}


.TopSongs {
  flex: 1;  
  padding: 10px;  
}

footer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height : 30vh;
}

footer > section {
  padding-left: 3em;
  padding-right: 3em;
  text-align: left;
}