image: node:20-bullseye-slim
workflow:
  rules:
    - if: $CI_COMMIT_REF_NAME == "staging"
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_TAG

default:
  cache: 
    key:
      prefix: $CI_COMMIT_REF_NAME
      files:
        - server/package-lock.json
        - client/package-lock.json
    paths:
      - server/.npm/
      - client/.npm
  before_script:
    - cd server && npm ci --cache .npm --prefer-offline && cd ../client && npm ci --cache .npm --prefer-offline && cd ..

stages:
  - lint
  - build
  - test
  - release

lint-server:
  stage: lint
  script:
    - cd server && ./node_modules/eslint/bin/eslint.js .
  allow_failure: false

lint-client:
  stage: lint
  script:
    - cd client && ./node_modules/eslint/bin/eslint.js .
  allow_failure: false

build-clientside:
  stage: build
  script:
    - cd client && npm run build
    - npm run bundlesize
  artifacts:
    expire_in: 1 days
    when: on_success
    paths:
      - client/dist

server-side-test:
  stage: test
  script:
    - cd server
    - npm run test

build-app-archive:
  stage: release
  variables:
    RELEASE_FILE: release-$CI_PROJECT_NAME-$CI_COMMIT_TAG-$CI_COMMIT_SHORT_SHA.tar.gz
  dependencies:
    - build-clientside
  rules:
  # only when it is tagged
    - if: '$CI_COMMIT_TAG && $CI_COMMIT_REF_PROTECTED'
      when: always
  before_script:
    - npm ci --omit dev
  script:
    - tar --exclude='./server/datasets' --exclude='./server/node_modules' --exclude='./server/.npm' --exclude='./server/test' --exclude='./server/eslint.config.mjs' -zcvf $RELEASE_FILE ./client/dist ./server
  artifacts:
    expire_in: 1 days
    when: on_success
    paths:
      - ./$RELEASE_FILE
