.search-container {
  flex: 1;
  background-color: #bdd9f2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.search-container h1 {
  text-align: start;
  margin: 2%;
  font-size: 2.5em;
  flex: 1;
}

.search-container input {
  height: 40px; 
  width:80%;
  align-self: center;
  padding: 7px 8px 7px 30px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.search-container label{
  flex:1;
}
.search-container input[type="search"] {
  border: 1px solid black;
}

.search-container input::placeholder {
  color: white;
}

.search-container input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #3f69a8;
  border-color: #000000;
  outline: none;
}

.search-options {
  flex: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}