.sidebar-container {
  background-color: #e0e0e0;
  overflow-y: auto; 
  flex: 1;
  display: flex;
  flex-direction: column;  
  height: 95%;
  background-color: whitesmoke;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
 
  .sidebar-container {
    height: auto; 
    min-height: 350px; 
    padding-bottom: 20px; 
    overflow-y: auto; 

  .sidebar-container h2 {
    font-size: 1.2rem; 
    padding: 12px;
  }
  .sidebar-artists-names {
    font-size: 0.9rem; 
  }
}
}
.sidebar-container h2{
  background-color: #ffffff; 
  padding: 16px;             
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  z-index: 10;               
}

.sidebar-artists-names {
  overflow-y: auto;
  font-size: 1rem; 
}
.artist-box a {
  text-decoration: none; 
  color: inherit;
}

.artist-box a:focus,
.artist-box a:hover {
  outline: none; 
  color: inherit; 
}

.default-message{
  font-weight: lighter;
  font-size: .9rem; 
  color: #877a7a;
}