.scrollable-chart-container {
    height: 500px; 
    overflow-y: auto;
    overflow-x: hidden; 
    padding: 10px;
}

.top-songs {
  background-color: #f4f4f9; 
  padding: 2rem; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin-top: 1rem; 
  font-family: 'Arial', sans-serif; 
  height: 65vh;

}

.top-songs h1 {
  text-align: left;
  font-size: 2.5rem; 
  margin-top: 0; 
  margin-bottom: 1rem; 
  color: #333; 
}

.top-songs p {
  font-size: 1.125rem; 
  line-height: 1.6; 
  color: #555; 
  font-family: 'Georgia', serif; 
  margin-bottom: 1.5rem; 
  text-align: left;
}

.top-songs p:first-child {
  font-weight: bold; 
  color: #222; 
}

@media screen and (max-width: 768px) {
  .top-songs {
    background-color: #f4f4f9; 
    padding: 2rem; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-top: 1rem; 
    font-family: 'Arial', sans-serif; 
    height: 105vh;

  .user-select-none{
    Width: 100px;
    height: 100px;
    background-color: #333;
  }
  }
}